
body {

    background-image: url('../../../css/img/29.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

.box-btn{
    display: flex;
    gap: 25px;
}

